Mammalia/
geo/
GEO/



myvenv
env
data
__pycache__
# src/graphql/index.ts

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
# /build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


#added
data/
!.env.example
.env
data/
create_files/crossing_copy.py
create_files/rummageogene_copy.ipynb
create_files/rummageogene_h.ipynb
create_files/rummageogene_rummageo_first.ipynb





